/*******************************
BASE PAGE STYLES
*******************************/

* {
  box-sizing: border-box;
}

.border-bottom {
  border-bottom: 2px solid $light-grey;
}

img {
  max-width: 100%;
}

ul,
ol {
  margin: 30px 10px;
}

li {
  margin-bottom: 10px;
}



/*******************************
PSEUDO CLASSES
*******************************/

a:link,
a:visited {
  color: $accent-dark;
  text-decoration: none;
}

a:hover {
  color: $accent-medium;
}

a:active {
  color: $accent-light;
}

.panel {
  a:link {
    color: #fff;
  }
}



/*******************************
CLEAR FIX
*******************************/

.group:after {
  content: "";
  display: table;
  clear: both;
}
