
/*******************************
PRIMARY COLORS
*******************************/

$primary-dark: rgba(17, 110, 92, 1);
$primary-medium: rgba(85, 187, 167, 1);
$primary-light: rgba(57, 187, 161, 1);



/*******************************
ACCENT COLORS
*******************************/

$accent-dark: rgba(110, 34, 49, 1);
$accent-light: rgba(187, 85, 105, 1);



/*******************************
GREYS
*******************************/

$dark-grey: rgba(107, 107, 107, 1);
$medium-grey: rgba(155, 155, 155, 1);
$light-grey: rgba(211, 211, 211, 1);
