.main-footer {
  padding-top: 60px;
  padding-bottom: 60px;
  border-bottom: 10px solid $light-grey;
  border-top: 2px solid $light-grey;
}



/*******************************
MEDIA QUERIES
*******************************/

@media (max-width: 768px) {
  .main-footer {
    padding: 20px 0;
  }
}
