/*******************************
LAYOUT STYLES
*******************************/

.intro {
  margin-bottom: 20px;
}

.primary-content,
.secondary-content {
	padding-bottom: 70px;
}

.primary-content {
	max-width: 960px;
	margin: auto;
	padding: 0 100px 50px 100px;
	width: 70%;
}

.secondary-content {
	padding: 70px 0;

	&.resume {
		background-color: $background-grey;
	}
}

.section-content-margin {
	margin: auto;
	max-width: 1000px;
}



/*******************************
MEDIA QUERIES
*******************************/

@media (max-width: 1024px) {
	.primary-content,
	.secondary-content {
		width: 90%;
	}

	.main-header {
		background: linear-gradient(#55bba7, #fff);
		height: 290px;
		margin-bottom: 0;
	}
}

@media (max-width: 768px) {
	.primary-content,
	.secondary-content {
		border-top: none;
	}

	.primary-content {
		width: 80%;
		padding: 20px 10px;
	}
}
