/*******************************
LAYOUT STYLES
*******************************/

.intro {
  margin-bottom: 20px;
}

.primary-content,
.main-footer {
	text-align: center;
}

.primary-content,
.secondary-content {
	margin: auto;
	max-width: 960px;
	padding-bottom: 70px;
	border-bottom: 2px solid lightgray;
}

.primary-content {
	padding: 0 100px 50px 100px;
	width: 70%;
}

.secondary-content {
	padding-bottom: 70px;
}

.resume {
	color: white;
	text-align: left;
	background: #434a52;
	background-size: cover;
	border-radius: 10px;

  h2 {
		position: relative;
		top: 460px;
		left: 30px;
	}

	p {
		position: relative;
		top: 410px;
		left: 240px;
	}
}



/*******************************
MEDIA QUERIES
*******************************/

@media (max-width: 1024px) {
	.primary-content,
	.secondary-content {
		width: 90%;
	}

	.portfolio {
		padding: 10% 12%;
		margin: 0;
	}

	.main-header {
		background: linear-gradient(#55bba7, #fff);
		height: 290px;
		margin-bottom: 0;
	}
}

@media (max-width: 768px) {
	.primary-content,
	.secondary-content {
		width: 100%;
		padding: 20px 10px;
		border-top: none;
	}
}
