.main-header {
  padding-top: 170px;
  height: 500px;
  background: linear-gradient($primary-medium, transparent 80%), linear-gradient(0deg, #fff, transparent 100%), $primary-medium url("../img/hero-background.png") 100%;
  background-size: cover;
  text-align: center;
}

nav {
  position: fixed;
  top: 0;
  margin: 0;
  padding: 0 5%;
  width: 100%;
  height: 50px;
  background: $primary-light;
  text-align: left;
  z-index: 1;
  transform: translate3d(0, -200px, 0);

  &.sticky {
    transition: transform 0.5s ease-in;
    transform: translate3d(0, 0, 0);
  }

  h2 {
    line-height: 50px;
    display: inline-block;
  }
}

.primary-content {
  &.sticky {
    padding-top: 250px;
  }
}

.arrow {
  width: 50px;
  margin-top: 50px;
}

.to-top-nav {
  float: right;
  line-height: 50px;
}



/*******************************
MEDIA QUERIES
*******************************/

@media (max-width: 1024px) {
  .main-header {
    padding-top: 100px;
  }
}

@media (max-width: 736px) {
  .main-header {
    padding-top: 40px;
  }

  nav{
    padding-left: 0;
  }
}
