.main-header {
  padding-top: 110px;
  height: 500px;
  background: linear-gradient($primary-medium, transparent 80%), linear-gradient(0deg, #fff, transparent 100%), $primary-medium url("../img/hero-background.png") 100%;
  background-size: cover;
  margin-bottom: 60px;
  text-align: center;
}

nav {
  h2 {
    display: none;

    &.sticky {
      display: block;
      margin: 0;
      padding-top: 12px;
      box-shadow: 0 1px 6px 1px $dark-grey;
      top: 0;
      position: fixed;
      width: 100%;
      height: 50px;
      background: $primary-medium;
      text-align: left;
      z-index: 1;
    }
  }
}

.primary-content {
  &.sticky {
    padding-top: 250px;
  }
}

.arrow {
  width: 50px;
  margin-top: 50px;
}



/*******************************
MEDIA QUERIES
*******************************/

@media (max-width: 1024px) {
  nav {
    display: none;
  }
}

@media (max-width: 768px) {
  .main-header {
    max-height: 380px;
    padding: 50px 25px 0;
  }

  .arrow {
    display: none;
  }
}
