.main-header {
  padding-top: 140px;
  height: 500px;
  background: linear-gradient(#39bba1, transparent 80%), linear-gradient(0deg, #fff, transparent 100%), #116e5c url("../img/hero-background.jpg") 100%;
  background-size: cover;
  margin-bottom: 60px;
  text-align: center;
}

.arrow {
  width: 50px;
  margin-top: 50px;
}



/*******************************
MEDIA QUERIES
*******************************/

@media (max-width: 768px) {
  .main-header {
    max-height: 380px;
    padding: 50px 25px 0;
  }

  .arrow {
    display: none;
  }
}
