.portfolio {
  padding-bottom: 100px;
}

.portfolio-content {
  display: block;
  width: 100%;
  padding: 0 40px;

  > div {
    display: inline-block;
    width: 32%;
  }
}

.visit-github {
  height: 173px;
  padding-bottom: 15px;
  padding-left: 10px;
}


/*******************************
MEDIA QUERIES
*******************************/

@media (max-width: 1024px) {
  .portfolio-content {
    > div {
      width: 49%;
      margin-bottom: 20px;
      img {
        margin-bottom: 0;
      }
    }

    padding: 0 30px;
  }

  .portfolio {
    padding: 5% 0;
  }
}

@media (max-width: 764px) {
  .portfolio-content {
    > div {
      width: 100%;
    }

    padding: 0 5px;
  }

  .portfolio {
    margin: 0 auto;
  }
}
