.portfolio {
  padding-bottom: 100px;
}

.portfolio-content {
  display: block;
  width: 100%;
  padding: 0 40px;

  > div {
    display: inline-block;
    position: relative;
  }

  div {
    &.panel {
      display: none;
    }
  }

  img {
    height: auto;
    width: 303px;
    border-radius: 1px;

    &.visit-github {
      height: 183px;
      display: inline-block;
    }
  }
}



/*******************************
MEDIA QUERIES
*******************************/

@media (min-width: 1025px) {
  .portfolio-link:hover .panel {
    display: table;
    background-color: $primary-light;
    height: 183px;
    width: 303px;
    position: absolute;
    top: 0px;
    padding: 0 10%;

    h4 {
      display: table-cell;
      vertical-align: middle;
      text-align: center;
      width: 100%;
      font-size: 1.3rem;
      line-height: 1.3;
    }
  }
}

@media (max-width: 1024px) {
  .portfolio-content {
    padding: 0 30px;

    > div {
      width: 49%;
      margin-bottom: 20px;
      padding-right: 1%;

      img {
        margin-bottom: 0;
        width: 100%;

        &.visit-github {
          height: 233px;
        }
      }
    }

    > div:nth-child(2n) {
      padding-right: 0;
      padding-left: 1%;
    }
  }

  .portfolio {
    padding: 5% 0;
  }
}

@media (max-width: 736px) {
  .portfolio-content {
    padding: 0 5%;

    > div {
      width: 100%;
      padding: 0;
    }

    > div:nth-child(2n) {
      padding: 0;
    }
  }

  .secondary-content.portfolio {
    margin: 0 auto;
    padding-bottom: 20px;
    > h5 {
      display: none;
    }
  }
}
