/*******************************
BASE TYPOGRAPHY STYLES
*******************************/

body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1 {
	color: #fff;
}

h2,
h3,
h4 {
	color: $primary-medium;
}

p {
	color: $dark-grey;
}



/*******************************
FONT SIZING
*******************************/

body {
	font-size: 16px;
}

h1 {
	font-size: 5.625rem;
	text-transform: uppercase;
	font-weight: normal;
	line-height: 1.3;
	text-shadow: 0 1px 1px rgba(0,0,0,0.8);
	margin: 12px 0 0;
}

h2 {
  font-size: 2.2125em;
  font-weight: normal;
  line-height: 0.9;
  margin: 40px 0 .5em 5%;
}

h3 {
  font-size: 1.25em;
  color: #48525c;
  line-height: 1.2;
  margin-bottom: 1.7em;
}

h5 {
  margin: 10px 0 0 5%;
  font-size: 1em;
}

p {
	font-size: 1em;
	line-height: 1.3;
}



/*******************************
TYPOGRAPHY: MAIN BODY
*******************************/

nav {
  h2 {
    margin: 0;
    padding-left: 5%;

    &.white-override {
      color: #fff;
      font-size: 1.5em;
    }
  }
}

.primary-content,
.main-footer {
  text-align: center;
}

.title {
  color: white;
  font-size: 1.625rem;
  letter-spacing: .065em;
  font-weight: 200;
  padding-bottom: 10px;
}

.intro {
  font-size: 1.25em;
  line-height: 0.8;
}

.copyright {
  font-size: 0.75em;
}

@media (max-width: 768px) {
  .title {
    font-size: 1.3rem;
    border: none;
  }

  h1 {
    font-size: 3.3rem;
    line-height: 1.1;
  }

  .intro {
    font-size: 1rem;
  }
}



/*******************************
TYPOGRAPHY: RESUME
*******************************/

.resume-header-text {
  width: 78%;
  display: inline-block;
  vertical-align: middle;

  h3 {
    text-transform: uppercase;
    font-size: 2.5rem;
    color: #fff;
    margin-bottom: 0;
  }

  p {
    font-size: 0.9rem;
  }

  .intro {
    text-transform: uppercase;
    color: #fff;
  }
}

.resume {
  color: white;
  text-align: left;
}



/*******************************
TYPOGRAPHY: RESUME
*******************************/

.portfolio-content {
  h4 {
    margin-top: 10px;
    margin-left: 13px;
  }
}



/*******************************
TYPOGRAPHY: MEDIA QUERIES
*******************************/

@media (max-width: 1024px) {
  .portfolio-content {
    h4 {
      margin-top: 0;
    }
  }
}

@media (max-width: 768px) {
  .title {
    font-size: 1.3rem;
    border: none;
  }

  h1 {
    font-size: 3.3rem;
    line-height: 1.1;
  }

  .intro {
    font-size: 1rem;
  }

  .portfolio-content {
    h4 {
      margin-left: 17px ;
    }
  }
}